<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBm5aeZ2o36Sdtyv8oL7o2LQffo-5B9MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1013910398731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.responsiveDashboard</string>
	<key>PROJECT_ID</key>
	<string>detailing-xperts</string>
	<key>STORAGE_BUCKET</key>
	<string>detailing-xperts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013910398731:ios:f0decf7d06c945a493e40e</string>
</dict>
</plist>